.container{
    position: absolute;
    top :0;
    right:0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.4);
}
.box{
    position: absolute;
    top:40%;
    left: 50%;
    width :40vw;
    height: 25vh;
    background-color: white;
    padding: 30px;
    transform: translate(-50%,-50%);
    animation-name: show;
    animation-duration: 0.8s;
}
.box h1{
    text-align: center;
}
.wrep-btn{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.box input{
    width: 20vw;
    margin: 0 100px;
}
@keyframes show {
    from {
        top : -1000px;
    }
    to{
        transform: translate(-50%,-50%);
    }
}